<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我要停车</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; background-color: #f5f5f5; }
		body, html, #allmap {width: 100%; height: 100%; overflow: hidden; margin:0; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand fa fa-chevron-left" href="javascript:goBack();"></a>
			<div class="navbar-brand pull-right">我要停车</div>
        </nav>
		
		<div class="input-group" >
            <input type="text" class="form-control" id="search" value="$!{search}" placeholder="Search for..."></input>
			<div class="input-group-btn">
				<a class="btn btn-default" href="javascript:search();"><i class="fa fa-search"></i></a>
            </div>
        </div>
		
		<div style="margin-top: 10px;" id="allmap"></div>
		
		#parse("/client/framework/footer.vm")
		
		#JSM(["jquery", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=57GsXSutGfXcANaX3GfW1FqZ&v=1.0"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/reserve/index.js"></script>
    </body>
</html>