<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我的预约</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; background-color: #f5f5f5; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:back();"></a>
			<div class="navbar-brand pull-right">我的预约</div>
        </nav>
		
		<div>
    		<div class="modal-body">
    			<ul class="list-group" style="margin-top: -16px; margin-bottom: -16px;">
    				#if($reserveList && $reserveList != [])
    					#foreach($reserve in $reserveList)
							#if($!{reserve.state} == 'D')
						<a class="list-group-item list-group-item-danger" style="margin-left: -16px; margin-right: -16px;" href="javascript:detail('$!{reserve.id}')">
							#elseif($!{reserve.expireState} == 'Y')
						<a class="list-group-item list-group-item-warning" style="margin-left: -16px; margin-right: -16px;" href="javascript:detail('$!{reserve.id}')">
							#else
						<a class="list-group-item list-group-item-success" style="margin-left: -16px; margin-right: -16px;" href="javascript:detail('$!{reserve.id}')">
							#end
    						<span class="fa fa-chevron-right pull-right" style="margin: 4px -5px 0 10px;"></span>
    						<span class="fa fa-building-o"></span> $!{reserve.carNo} @ $!{reserve.parkName}
            			</a>
    					#end
    				#else
					<li class="list-group-item" style="margin-left: -16px; margin-right: -16px;">
						<i class="fa fa-cog fa-spin"></i> 趴趴兔正在努力的搜集数据哦。
					</li>
					#end
                </ul>
            </div>
        </div>
		
		<nav class="navbar navbar-default navbar-fixed-bottom text-center">
			<div style="margin: 10px;">
				<a class="btn btn-success" id="btn" data-loading-text="正在处理..." href="javascript:reserve();">
					我要抢车位
				</a>
            </div>
        </nav>
		
		#JSM(["jquery", "bootstrap", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript">
        </script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/reserve/index.js?t=20150826"></script>
    </body>
</html>