<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我的账单</title>
		#ICON()
        #CSSM(["font-awesome", "icheck", "bootstrap"])
		<style>
		body { padding-top: 70px; background-color: #f5f5f5; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:back();"></a>
			<div class="navbar-brand pull-right">我的账单</div>
        </nav>

		<ul class="list-group" style="margin-top: -20px;">
			#if($tradeList && $tradeList != [])
				#foreach($trade in $tradeList)
    			<a class="list-group-item" href="javascript:detail('$!{trade.tradeNo}')">
					<span class="fa fa-chevron-right pull-right" style="margin: 4px -5px 0 10px;"></span>
					
					#if($!{trade.type} == 'topay')
					<span class="label label-info pull-right" style="margin-top: 3px;">待付款</span>
					#elseif($!{trade.type} == 'pay')
					<span class="label label-success pull-right" style="margin-top: 3px;">已付款</span>
					#end
					
					<span class="fa fa-tag"></span> $!{trade.tradeNo}
    			</a>
				#end
			#end
        </ul>
		
		#JSM(["jquery", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/trade/index.js?t=20150925"></script>
    </body>
</html>