<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>出租车位</title>
		#ICON()
        #CSSM(["bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:back();"></a>
			<div class="navbar-brand pull-right">3. 请选择时间段及计费</div>
        </nav>
		
		<div>
			<!-- div class="modal-header"><h4 class="modal-title">3. 请选择时间段及计费</h4></div -->
			#parse("/client/framework/resultMessage.vm")
			<div class="modal-body">
				<form class="" role="form" method="post">
					<input type="hidden" name="space.costType" value="$!{space.costType}"></input>
					<input type="hidden" name="backCode" value="$!{backCode}"></input>
					<input type="hidden" name="space.parkId" value="$!{space.parkId}"></input>
					<div style="margin-bottom: 5px;">
						<label class="control-label">出租方式：</label>
						#if($!{space.costType} == 'H')
							按时出租
						#else
							包月出租
						#end
                    </div>
					<div style="margin-bottom: 5px;">
						<label class="control-label">出租小区：</label>
							$!{park.parkName}
                    </div>
					<div class="has-success" style="margin-bottom: 5px;">
						<label class="control-label">出租车位：</label>
						<input type="text" class="form-control" style="display: inline; width: 150px; height: 25px;" id="spaceCode" name="space.spaceCode" placeholder="请填写车位编号" />
                    </div>
					#if($!{space.costType} == 'H')
					<div style="margin-bottom: 5px;">
						<label class="control-label">出租时间：</label>
						<div class="has-success" style="margin-left: 10px;">
            				<div class="radio" style="margin-top: 0;">
                				<label class="radio-inline">
                					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="W" checked/> 工作日
                				</label>
                				<label class="radio-inline">
                					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="H"/> 双休日
                				</label>
            					<label class="radio-inline">
                					<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="C"/> 自定义
                				</label>
                            </div>
            				<div style="margin-left: 10px;">
            					<div class="checkbox">
                    				<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="space.mon" value="Y" onchange="toggleCheckbox(this)" checked/> 周一</label>
            						<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox2" name="space.tue" value="Y" onchange="toggleCheckbox(this)" checked/> 周二</label>
            						<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox3" name="space.wed" value="Y" onchange="toggleCheckbox(this)" checked/> 周三</label>
            						<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox4" name="space.thu" value="Y" onchange="toggleCheckbox(this)" checked/> 周四</label>
                                </div>
            					<div class="checkbox">
            						<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox5" name="space.fri" value="Y" onchange="toggleCheckbox(this)" checked/> 周五</label>
            						<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox6" name="space.sat" value="Y" onchange="toggleCheckbox(this)" /> 周六</label>
            						<label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox7" name="space.sun" value="Y" onchange="toggleCheckbox(this)" /> 周日</label>
                                </div>
                            </div>
							<div>
								开始
								<select class="form-control" style="display: inline; width: 80px; height: 25px;" name="space.startTime">
									<option>00:00</option>
									<option>01:00</option>
									<option>02:00</option>
									<option>04:00</option>
									<option>05:00</option>
									<option>06:00</option>
									<option>07:00</option>
									<option>08:00</option>
									<option selected>09:00</option>
									<option>10:00</option>
									<option>11:00</option>
									<option>12:00</option>
									<option>13:00</option>
									<option>14:00</option>
									<option>15:00</option>
									<option>16:00</option>
									<option>17:00</option>
									<option>18:00</option>
									<option>19:00</option>
									<option>20:00</option>
									<option>21:00</option>
									<option>22:00</option>
									<option>23:00</option>
								</select>
								结束
								<select class="form-control" style="display: inline; width: 80px; height: 25px;" name="space.endTime">
									<option>00:00</option>
									<option>01:00</option>
									<option>02:00</option>
									<option>04:00</option>
									<option>05:00</option>
									<option>06:00</option>
									<option>07:00</option>
									<option>08:00</option>
									<option>09:00</option>
									<option>10:00</option>
									<option>11:00</option>
									<option>12:00</option>
									<option>13:00</option>
									<option>14:00</option>
									<option>15:00</option>
									<option selected>16:00</option>
									<option>17:00</option>
									<option>18:00</option>
									<option>19:00</option>
									<option>20:00</option>
									<option>21:00</option>
									<option>22:00</option>
									<option>23:00</option>
								</select>
                            </div>
                        </div>
                    </div>
					<div style="margin-bottom: 5px;">
						<label class="control-label">出租计费：</label>
    					<div class="has-success" style="margin-left: 10px;">
    						每小时
							<input type="text" class="form-control" style="display: inline; width: 60px; height: 25px; margin: 0 5px 0 5px;" value="$!{park.costHour}" disabled />
							元
                        </div>
						<p class="help-block">按时出租，计费根据物业统一制定，暂不支持自定义。</p>
                    </div>
					#else
					<div style="margin-bottom: 5px;">
						<label class="control-label">出租时间：</label>
						<div class="has-success" style="margin-left: 10px;">
							<div style="margin-bottom: 3px;">
								开始
								<select class="form-control" style="display: inline; width: 70px; height: 25px; margin: 0 5px 0 5px;" id="startYear" name="space.startYear">
									<option>2015</option>
									<option>2016</option>
									<option>2017</option>
								</select>
								<select class="form-control" style="display: inline; width: 50px; height: 25px;" id="startMonth" name="space.startMonth">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
								</select>
                            </div>
							<div>
								结束
								<select class="form-control" style="display: inline; width: 70px; height: 25px; margin: 0 5px 0 5px;" id="endYear" name="space.endYear">
									<option>2015</option>
									<option>2016</option>
									<option>2017</option>
								</select>
								<select class="form-control" style="display: inline; width: 50px; height: 25px;" name="space.endMonth">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option selected>12</option>
								</select>
                            </div>
                        </div>
                    </div>
					<div style="margin-bottom: 5px;">
						<label class="control-label">出租计费：</label>
    					<div class="has-success" style="margin-left: 10px;">
    						每月
							<input type="text" class="form-control" style="display: inline; width: 60px; height: 25px; margin: 0 5px 0 5px;" id="cost" name="space.cost" value="$!{park.costMonth}" />
							元
                        </div>
						<p class="help-block">包月出租，物业建议计费金额，支持自定义。</p>
                    </div>
					#end
                </form>
            </div>
			<div class="modal-footer">
				<div class="text-center">
    				<a class="btn btn-danger" id="btn0" data-loading-text="正在处理..." href="javascript:cancel();">取消</a>
    				<a class="btn btn-default" id="btn1" data-loading-text="正在处理..." href="javascript:back();">上一步</a>
    				<a class="btn btn-success" id="btn2" data-loading-text="正在处理..." href="javascript:done();">完成</a>
                </div>
			</div>
        </div>
		
		#parse("/client/framework/footer.vm")
		
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["jquery", "bootstrap", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript">
		var year = $!{year};
		var month = $!{month};
        </script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/space/3rd.js?t=20150820"></script>
    </body>
</html>