<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我要支付</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; background-color: #f5f5f5; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:goBack();"></a>
			<div class="navbar-brand pull-right">我要支付</div>
        </nav>
		
		<div class="panel panel-success" style="margin-top: -20px;">
			<div class="panel-heading">
				账单<strong class="pull-right">黄龙体育中心停车场</strong>
			</div>
			<table class="table table-striped">
                <tbody>
					<tr>
						<td class="text-center"><i class="fa fa-clock-o"></i> 开始时间</td>
						<td>$!{record.startTime}</td>
					</tr>
					<tr>
						<td class="text-center"><i class="fa fa-clock-o"></i> 结束时间</td>
						<td>$!{record.endTime}</td>
					</tr>
					<tr>
						<td class="text-center"><i class="fa fa-tachometer"></i> 停车时间</td>
						<td>1 小时</td>
					</tr>
					<tr>
						<td class="text-center"><i class="fa fa-credit-card"></i> 计时缴费</td>
						<td><i class="fa fa-cny"></i> 10.00</td>
					</tr>
					<tr>
						<td class="text-center"><i class="fa fa-tags"></i> 优惠</td>
						<td>
							<i class="fa fa-cny"></i> -0.00
							<a class="fa fa-plus fa-fw pull-right" style="margin: 3px 50px 0 0;" href="javascript:promotion();"></a>
						</td>
					</tr>
					<tr class="warning">
						<th class="text-center">合计需要缴费</th>
						<th><i class="fa fa-cny"></i> 10.00</th>
					</tr>
				</tbody>
			</table>
			<div class="panel-footer text-center">
				<a class="btn btn-primary" href="#" role="button">
					<i class="fa fa-check fa-fw"></i>确认缴费
				</a>
				<a class="btn btn-danger" href="javascript:goBack();" role="button">
					<i class="fa fa-repeat fa-fw"></i>暂不缴费
				</a>
			</div>
		</div>
		
		#parse("/client/framework/footer.vm")
		
		#JSM(["jquery", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/pay/index.js"></script>
    </body>
</html>