<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我的推荐</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; background-color: #f5f5f5; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand fa fa-chevron-left" href="javascript:goBack();"></a>
			<div class="navbar-brand pull-right">趴趴兔等你来推荐</div>
        </nav>
		
		<ul class="list-group" style="margin-top: -20px;">
			<li class="list-group-item list-group-item-success">
				<h4 class="list-group-item-heading">推荐好友，有机会获得免费停车喔</h4>
				<p class="list-group-item-text">成功推荐好友</p>
			</li>
        </ul>
		
		<ul class="list-group" style="margin-top: 10px;">
			<div class="alert alert-info text-center" role="alert">
				<a class="fa fa-facebook" style="font-size: 24px;"></a>&nbsp;
				<a class="fa fa-qq" style="font-size: 24px;"></a>&nbsp;
				<a class="fa fa-tencent-weibo" style="font-size: 24px;"></a>&nbsp;
				<a class="fa fa-twitter" style="font-size: 24px;"></a>&nbsp;
				<a class="fa fa-weibo" style="font-size: 24px;"></a>&nbsp;
				<a class="fa fa-weixin" style="font-size: 24px;"></a>
			</div>
        </ul>
		
		#parse("/client/framework/footer.vm")
		
		#JSM(["jquery", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/recommend/index.js"></script>
    </body>
</html>