<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我的车辆</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; background-color: #f5f5f5; }
		.form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="foo">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:goBack();"></a>
			<div class="navbar-brand pull-right">我的车辆</div>
        </nav>
		
		<ul class="list-group">
			#foreach($car in $carList)
			<a href="javascript:pay('$!{car.id}');" class="list-group-item list-group-item-success" style="margin: 10px 0 10px 0; ">
				<span class="fa fa-chevron-right pull-right" style="margin: 3px 0 0 15px;"></span>
                <i class="fa fa-car" style="margin-right: 5px;"></i><strong> $!{car.carNo}</strong>
                <small class="text-warning" style="margin-left: 10px;"> 预计需要缴费 <i class="fa fa-cny"></i> 10.00</small>
			</a>
			#end
        </ul>
		
		<div class="container">
			<div class="modal-body">
        		<div style="margin-top: 10px;">
                    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#createCar">
						<i class="fa fa-plus"></i> 我要添加车辆
					</button>
                </div>
            </div>
        </div>
		
		<div class="modal fade" id="createCar" tabindex="-1" role="dialog" aria-labelledby="createCarLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">我的新车</h4>
                    </div>
					<div class="modal-body">
						<!-- successMessage -->
                        <div class="form-group" style="display:none" id="sMsgDiv">
                        	<div class="alert alert-success" style="padding: 5px 28px 5px 15px;" role="alert">
                        		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        		<span id="sMessage" />
                        	</div>
                        </div>
                        <!-- successMessage -->
                        <!-- failMessage -->
                        <div class="form-group" style="display:none" id="fMsgDiv">
                        	<div class="alert alert-danger" style="padding: 5px 28px 5px 15px;" role="alert">
                        		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        		<span id="fMessage" />
                        	</div>
                        </div>
                        <!-- failMessage -->
						<form class="form-inline text-center" role="form" method="post">
							<div class="form-group">
								<label>浙</label>
							</div>
							<div class="form-group">	
								<select class="form-control">
									<option>A</option>
								</select>
							</div>
							<div class="form-group">
                                <input type="text" class="form-control" id="carNo" name="car.carNo" placeholder="车牌"></input>
                            </div>
                        </form>
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-default" data-dismiss="modal">暂不添加</a>
						<a type="button" class="btn btn-primary" id="btn" data-loading-text="正在处理..." href="javascript:save();">确认添加</a>
					</div>
				</div>
			</div>
		</div>
		
		#parse("/client/framework/footer.vm")
		
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		
		#JSM(["jquery", "bootstrap", "spin"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/car/index.js?t=20150813"></script>
    </body>
</html>