<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- BOSS -->
	<bean id="bossRecordService" class="com.papa2.client.record.service.impl.BossRecordServiceImpl">
		<property name="bossRecordDao" ref="bossRecordDao" />
	</bean>
	<bean id="bossRecordDao" class="com.papa2.client.record.dao.impl.BossRecordDaoImpl" parent="baseDao" />
	
	<!-- CLIENT -->
	<bean id="clientRecordService" class="com.papa2.client.record.service.impl.ClientRecordServiceImpl">
		<property name="clientRecordDao" ref="clientRecordDao" />
	</bean>
	<bean id="clientRecordDao" class="com.papa2.client.record.dao.impl.ClientRecordDaoImpl" parent="baseDao" />
	
</beans>