<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 出租车位 -->
	<bean id="spaceAction" class="com.papa2.client.space.action.SpaceAction" parent="baseAction" scope="request">
		<property name="parkService" ref="parkService" />
		<property name="spaceService" ref="spaceService" />
	</bean>
	
	<bean id="spaceService" class="com.papa2.client.space.service.impl.SpaceServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="parkService" ref="parkService" />
		<property name="spaceDao" ref="spaceDao" />
	</bean>
	
	<bean id="spaceDao" class="com.papa2.client.space.dao.impl.SpaceDaoImpl" parent="baseDao" />

</beans>