<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="accessTokenService" class="com.papa2.client.wxap.service.impl.AccessTokenServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
	</bean>
	
	<bean id="jsapiTicketService" class="com.papa2.client.wxap.service.impl.JsapiTicketServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
	</bean>
	
	<bean id="signService" class="com.papa2.client.wxap.service.impl.SignServiceImpl">
		<property name="accessTokenService" ref="accessTokenService" />
		<property name="jsapiTicketService" ref="jsapiTicketService" />
		<property name="appId">
			<value>${wxap.appId}</value>
		</property>
		<property name="appSecret">
			<value>${wxap.appSecret}</value>
		</property>
	</bean>
	
	<bean id="wxapService" class="com.papa2.client.wxap.service.impl.WxapServiceImpl">
		<property name="oauth2Service" ref="oauth2Service" />
		<property name="unifiedOrderService" ref="unifiedOrderService" />
		<property name="appId">
			<value>${wxap.appId}</value>
		</property>
		<property name="appSecret">
			<value>${wxap.appSecret}</value>
		</property>
		<property name="mchId">
			<value>${wxap.mchId}</value>
		</property>
	</bean>
	
	<bean id="unifiedOrderService" class="com.papa2.client.wxap.service.impl.UnifiedOrderServiceImpl">
		<property name="appSecret">
			<value>${wxap.appSecret}</value>
		</property>
	</bean>
	
	<bean id="oauth2Service" class="com.papa2.client.wxap.service.impl.OAuth2ServiceImpl" />

</beans>