<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 账单 -->
	<bean id="tradeAction" class="com.papa2.client.trade.action.TradeAction" parent="baseAction" scope="request">
		<property name="tradeService" ref="tradeService" />
	</bean>
	
	<bean id="tradeService" class="com.papa2.client.trade.service.impl.TradeServiceImpl">
		<property name="transactionTemplate" ref="transactionTemplate" />
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="clientRecordService" ref="clientRecordService" />
		<property name="priceService" ref="priceService" />
		<property name="tradeDao" ref="tradeDao" />
		<property name="orderDao" ref="orderDao" />
	</bean>
	
	<bean id="tradeDao" class="com.papa2.client.trade.dao.impl.TradeDaoImpl" parent="baseDao" />
	
	<bean id="orderDao" class="com.papa2.client.trade.dao.impl.OrderDaoImpl" parent="baseDao" />

</beans>