<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>忘记密码</title>
		#ICON()
        #CSSM(["bootstrap"])
		<style>
		body { padding-top: 70px; }
		.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-9 { padding-right: 5px; padding-left: 5px; }
		.col-xs-3 { padding-top: 6px; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="$!{env.appUrl}/index.htm?goto=$!esc.url($!{goto})"></a>
			<div class="navbar-brand pull-right">设置新密码</div>
        </nav>
		
		<div class="container">
			<div class="modal-body">
    			<form class="form-horizontal" role="form" method="post">
					<input type="hidden" id="goto" name="goto" value="$!{goto}" />
					<div class="form-group has-success">
    					<label class="col-xs-3 control-label text-center">账户名</label>
    					<div class="col-xs-9">
    						<input type="text" class="form-control" id="passport" name="passport" placeholder="注册时所填手机号码" />
                        </div>
					</div>
					<div class="form-group has-success">
						<label class="col-xs-3 control-label text-center">新密码</label>
    					<div class="col-xs-9">
    						<input type="password" class="form-control" id="password" name="password" placeholder="密码长度在6~20个字符" />
                        </div>
                    </div>
					<div class="form-group has-success">
						<label class="col-xs-3 control-label"></label>
    					<div class="col-xs-5">
    						<input type="text" class="form-control" id="txtAuth" name="checkCode" placeholder="短信校验码" />
                        </div>
						<div class="col-xs-4">
    						<a class="btn btn-default btn-block" id="sendBtn" href="javascript:sendCheckCode();">点击获取</a>
                        </div>
                    </div>
					<div class="form-group" style="margin-top: 30px;">
						<a class="btn btn-success btn-lg btn-block" id="btn" data-loading-text="正在提交..." href="javascript:save();">确认提交</a>
                    </div>
                </form>
            </div>
        </div>
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["jquery", "jquery.cookie", "bootstrap"])
    	<script>
    	var appName = '$!{env.appName}';
		var domain = '$!{env.domain}';
		var appUrl = '$!{env.appUrl}';
        </script>
    	<script type="text/javascript" src="$!{env.imgUrl}/js/account/forgetPassword.js"></script>
	</body>
</html>
