<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>修改密码</title>
		#ICON()
        #CSSM(["messenger", "bootstrap"])
		<style>
		body { padding-top: 70px; }
		div { overflow: hidden; }
		hr { margin-top: 10px; margin-bottom: 10px; }
		input { border: 0px; }
		.col-xs-3, .col-xs-9 { padding-right: 5px; padding-left: 5px; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:history.go(-1);"></a>
			<div class="navbar-brand pull-right">修改密码</div>
        </nav>
		
		<form role="form" method="post">
			<div>
				<div class="col-xs-12">
					<label class="col-xs-3">原密码</label>
                    <div class="col-xs-9"><input type="password" id='O_Pwd' name="oldPassword" placeholder="必填" /></div>
				</div>
            </div>
			<hr />
			<div>
				<div class="col-xs-12">
					<label class="col-xs-3">新密码</label>
                    <div class="col-xs-9"><input type="password" id="J_Pwd" name="password" placeholder="密码长度在6~20个字符" /></div>
				</div>
            </div>
        </form>
		<hr />
		<br />
		<div class="col-xs-12">
			<a class="btn btn-success btn-block" id="btn" data-loading-text="正在提交..." href="javascript:save();">确认提交</a>
        </div>
				
		#JSM(["jquery", "messenger", "bootstrap"])
        #JS_ENV_VAL()
    	<script type="text/javascript" src="$!{env.imgUrl}/js/m/portal/resetPassword.js"></script>
		#HideWeixinJSBridge(["menu", "toolbar"])
	</body>
</html>